/* ==========================
   Scroll Animation
========================== */

.reveal{

    opacity:0;

    transform:translateY(60px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}

/* Left */

.reveal-left{

    opacity:0;

    transform:translateX(-60px);

    transition:all .8s ease;

}

.reveal-left.active{

    opacity:1;

    transform:translateX(0);

}

/* Right */

.reveal-right{

    opacity:0;

    transform:translateX(60px);

    transition:all .8s ease;

}

.reveal-right.active{

    opacity:1;

    transform:translateX(0);

}

/* Scale */

.reveal-scale{

    opacity:0;

    transform:scale(.9);

    transition:all .8s ease;

}

.reveal-scale.active{

    opacity:1;

    transform:scale(1);

}