*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background: var(--background);
    color: var(--text);

    transition:
        background .35s ease,
        color .35s ease;

}

.container{

    max-width:1200px;

}

section{

    padding:110px 0;

}

img{

    max-width:100%;
    display:block;

}

a{

    text-decoration:none;

}